header { text-align: center;
  font-family: Garamond, serif;
  color: #00310a;
  background-color: #CDFFC3;
  padding: 10px;
}

.subtitle { color: #376942; }

body { background-color: mintcream;
  margin-left: 500px;
  margin-right: 500px;
}

#assignments {
  color: #00310a;
  font-size: x-large;
  font-family: Garamond;
  text-align: center;
}

a { color: darkgreen;
}

footer { font-size: small;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #00310a
}
