header {
  text-align: center;
  font-family: Garamond, serif;
  background-color: #CDFFC3;
  padding: 5px;
  border-style: dashed;
  border-color: #00310a;
}

.title {
  color: #00310a;
}

.subtitle {
  color: #376942;
}

body {
  background-color: mintcream;
  background-position: 0% 25%;
	background-attachment: fixed;
  width:900px;
  margin:auto;
  cursor: pointer;
}

#projects {
  color: #00310a;
  font-size: 30pt;
  font-family: Garamond, serif;
  font-weight: bold;
  letter-spacing: 5px;
  text-align: center;
}

.column {
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  padding-bottom: 25px;
  flex: 50%;
}

.assignments {
  display: flex;
  color: #00310a;
  font-size: 1.5em;
  font-family: Garamond;
  text-align: center;
}

.projectlabel {
  font-weight: bold;
  font-size: 20pt;
}

a {
  color: darkgreen;
}

footer {
  font-size: small;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #00310a;
}

#globe {
  padding: 15px;
}
