header { text-align: center;
font-family: Garamond, serif;
color: #00310a;
}

.subtitle { color: #376942; }

body { background-color: mintcream; }

#assignments {
  color: #00310a;
  font-size: x-large;
  font-family: Garamond;
  text-align: center;
}

footer { font-size: small;
  text-align: center;
}
