#coloradoMap {
  height: 700px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#banner img {
  display: block;
  font-size: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#legend img {
  display: block;
  font-size: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-top: 8px;
}

body {
  background-color: black;
}

a {
  color: lightgreen;
  font-size: medium;
}

footer {
  font-size: small;
  text-align: center;
  font-family: Arial, sans-serif;
  color: mintcream;
}
