#coloradoMap {
  height: 800px;
}

#banner img {
  display: block;
  font-size: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body {
  background-color: black;
}

a {
  color: lightgreen;
  font-size: medium;
}

footer { font-size: small;
  text-align: center;
  font-family: Arial, sans-serif;
  color: mintcream;}
